<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{> header}}
            <p>I drink tea and I know some things</p>
            <div class="tech-list">
                <span>My tech stack:</span>
                <span class="tech-item">HTML</span>
                <span class="tech-item">CSS</span>
                <span class="tech-item">Javascript</span>
                <span class="tech-item">Node.js</span>
                <span class="tech-item">Express</span>
                <span class="tech-item">Bootstrap</span>
                <span class="tech-item">REST</span>
                <span class="tech-item">Mocha</span>
            </div>
        </div>
    
    {{> footer}}
    </body>
</html>
