<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{> header}}
            <p>I will link my other projects here</p>
        </div>
    
    {{> footer}}
    </body>
</html>
